@model IEnumerable<TheEverythingStore.Models.Category>

@{
    ViewBag.Title = "Browse our Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse our Categories</h2>


<section class="container">

    @foreach (var item in Model)
    {
        <div class="col-md-6 text-center well">

            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>

                <a href=" /store/products/@item.CategoryId">
                    <button class="btn btn-primary"> Shop Now >> </button>
                </a>
        </div>
    }
</section>