@model IEnumerable<TheEverythingStore.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<section class="container">

    @foreach (var item in Model)
    {
    <div class="col-md-4 text-center well">
        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
        <p>@Html.DisplayFor(modelItem => item.Description)</p>
        <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
        @if (item.Photo != null)
        {
            <div>
                <img src="~/Content/Images/@item.Photo" height="75" />
            </div>

        }

        <a href=" /store/addtocart/@item.ProductId">
            <button class="btn btn-primary">Add to Cart</button>
        </a>
    </div>
    }

</section>
