@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron", >

    <h1>The Everything Store</h1>

    <p class="lead">The Everything Store is developed in COMP2084 Server-Side Scripting (Winter 2019). It is built using ASP.Net Framework, MVC5, SQL and Bootstrap. </p>

    <p>Source code available on<a href="https://github.com/cdpub/TheEverythingStore "> GitHub</a>.</p>

    <p>Bootstrap SuperHero Theme from <a href="https://bootswatch.com/3/superhero/">https://bootswatch.com/3/superhero/</a></p>

</div>