@model IEnumerable<TheEverythingStore.Models.Product>


@{

    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    
   @* @foreach (var p in ViewBag.Products)*@

    @*passing in strongly typed data*@
    @foreach (var p in Model)
    {
        //<li>@p.Name</li>

        //create new method to show details of a particular product in Home controller
        //add 4th parameter pass in a  new variable called productName, last parameter set to tnull
        <li>@Html.ActionLink(p.Name, "ViewProduct", "Home", new {ProductName = p.Name }, null )</li>
    }

</ul>

